
h1 {
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: cursive;
}
h3 {
  font-size: 2em;
  color: tan;
  font-family: cursive;
}
.grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-item {
    margin-right: 5px;
    width: 450px;
    height: 300px;
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
